{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "useTabs": false,
  "parser": "babel",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
